.collectionSection{
    padding: 3rem clamp(1rem, 3vw, 6rem);
    line-height: 1.1;
    max-width: 1440px;
    margin: 0 auto;
}
.collectionTitle {
  padding-bottom: 3rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  row-gap: 7rem;
  align-items: start;
}
.projectLong {
  display: flex;
  flex-direction: column;
  grid-column: span 7;
  position: relative;
  width: 100%;
}
.projectLongImage {
    position: relative;
    width: 100%;
    height: 40rem;
}

.projectDesc {
  padding-top: 2rem;
  font-size: clamp(16px, 1.5vw, 19px);
  font-weight: 300;
  color: gray;
}
.projectTitle{
  padding-top: 0.5rem;
}



.projectShort {
  display: flex;
  flex-direction: column;
  grid-column: span 5;
  position: relative;
  width: 100%;
}
.projectShortImage {
    position: relative;
    width: 100%;
    height: 60rem;
}

.projectRowEnd {
  padding-bottom: 5rem;
}


.projectLongLast {
  display: flex;
  flex-direction: column;
  grid-column: 3 / span 10;
  position: relative;
  width: 100%;
}
.projectLongImageLast {
    position: relative;
    width: 100%;
    height: 40rem;
}


.projectLong,
.projectShort,
.projectLongLast {
  cursor: pointer;
  transition: transform 0.4s ease;
}

.projectLong:hover,
.projectShort:hover,
.projectLongLast:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  .projectLongImage {
    height: 30rem;
  }
  .projectShortImage {
    height: 30rem;
  }
  .projectLongImageLast {
    height: 30rem;
  }
  .projectRowEnd {
    padding-bottom: 0rem;
  }
}